/* Project main styling */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed|Source+Code+Pro:400,600);

body {
	background: #d8d8f3;
	font-family: Roboto Condensed, sans-serif;
	padding: 0;
}
#main {
	display: block;
	clear: both;
	background: white;
	margin: 5em 5em 5em 5em;
	padding: 1em;
}
#header {
	position: fixed;
	padding: 1em 10em 1em 10em;
	top: 0;
	left: 0;
	width:100%;
	background: grey;
	color: white;
}
#footer {
	display: block;
	clear: both;	
}
h3 {
	font-family: Open Sans Condensed;
}
